body {
	color: #0d1c3b;
}
main {
	min-height: 80vh;
}

nav {
	background: hsla(39, 100%, 54%, 1);

	background: linear-gradient(
		135deg,
		hsla(39, 100%, 54%, 1) 0%,
		hsla(8, 94%, 47%, 1) 57%
	);

	background: -moz-linear-gradient(
		135deg,
		hsla(39, 100%, 54%, 1) 0%,
		hsla(8, 94%, 47%, 1) 57%
	);

	background: -webkit-linear-gradient(
		135deg,
		hsla(39, 100%, 54%, 1) 0%,
		hsla(8, 94%, 47%, 1) 57%
	);

	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFAD14", endColorstr="#E82507", GradientType=1 );
}

nav .nav-link {
	color: #fff;
}

.rating span {
	margin: 0.1rem;
}

.rating svg {
	color: #f8e825;
}

.rating-text {
	font-size: 0.8rem;
	font-weight: 600;
	padding-left: 0.5rem;
}

.product-title {
	height: 2.5em; /* Set a fixed height */
	overflow: hidden; /* Hide overflow content */
	text-overflow: ellipsis; /* Add ellipsis for long text */
	white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
	text-align: center;
}

.review {
	margin-top: 30px;
}

.review h2 {
	font-size: 24px;
	background: #f4f4f4;
	padding: 10px;
	border: 1px solid #ddd;
}

.review button {
	margin-top: 10px;
}

.carousel-caption {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
}
